/*
Yale Blue: #00356b;
Yale Blue Medium: #286dc0;
Yale Blue Lightest: #63aaff;
Yale Orange Accent: #bd5319;
*/

@font-face {
    font-family: YaleNew;
    src: url(/assets/fonts/YaleNew/YaleNew-Roman.otf);
}

@font-face {
    font-family: YaleNew;
    src: url(/assets/fonts/YaleNew/YaleNew-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: YaleNew;
    src: url(/assets/fonts/YaleNew/YaleNew-Italic.otf);
    font-style: italic;
}

.branding{
    font-family: "YaleNew", Georgia, "Times New Roman", Times, serif;
    font-size: 2em;
}


.branding em{
    font-size: .75em;
}


/* Colors */
.md-header{
    background-color: white;
    color: #00356b;
}

.md-search input:hover{
    background-color: #bdbdbd;
}

.md-typeset a {
    color: #286dc0;
}

.md-typeset a:hover {
    color: #63aaff;
}

.md-nav__link:active,
.md-nav__link--active {
    color: #286dc0;
}

.md-nav__link:hover,
.md-nav__link:active:hover,
.md-nav__link--active:hover{
    color: #63aaff;
}


.md-tabs {
    background-color: #00356b;
}

/* Tables */
.md-typeset table:not([class]) th{
    min-width: 0rem;
}

/* Status */


.status {
    float: right;
}

.status .md-tabs__link{
    opacity:1.0;
    margin-left:20px;
}

.status #status-icon{
     border-radius: 50%;
     display: inline-block;
     height: 12px;
     margin-left: 4px;
     margin-right: 4px;
     width: 12px;
}

#system-status-message{
    display: none;
    width:50%;
    margin: 20px auto 0px auto;
    font-size: 1.25em;
    padding: 10px;
    background: #fcf8e3;
    border:1px solid #faebcc;
    border-radius: 5px;
}

#system-status-message a{
    color: #8a6d3b;
}
#system-status-message a:hover{
    opacity: 0.7;
}

/* Sizing */

img.medium{
    max-width: 600px;
}

img.large{
    max-width: 900px;
}

img.cluster-portrait {
    width: auto;
    float: left;
    padding-right: 1%;
    padding-bottom: 1%;
    height: 100%;
    max-height: 15vh;
}

img.cluster-diagram {
    width: auto;
    float: center;
    padding: 1%;
    height: 100%;
}

/* Full Width */
@media only screen and (min-width: 76.25em) {
    .md-main__inner {
        max-width: none;
    }
    .md-sidebar--primary {
        left: 25px;
    }
    .md-sidebar--secondary {
        right: 25px;
        margin-left:;
        -webkit-transform: none;
        transform: none;
    }
}

/* hr to force text below floating image */
hr {
    clear: both;
  }